/*styles go here*/

/*p {
    color: red;
}*/

body{
  background-color: #FEFBF3;
}

p,ul, ol{
	color: #666666;
    font-family: Georgia, "Times New Roman", serif;
    list-style-type: none;
}

h1 {
    font-family: 'Oxygen', sans-serif;
    color: #666666;
    text-align: center;
    font-size: 45pt;
}

h2{
  color: #666666;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #ccc;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #ffffff;
    background-color: #facab3;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, #nav a:active {
    background-color: #fac583;
}

.caption {
    color: black;
  font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 0;
    text-align: left;
}

#footer {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}
