
/* mobile */
body{
  background-color: #FDF6F4;
}



p,ul, ol{
	color: #382C20;
  font-family: 'BenchNine', sans-serif;
  list-style-type: none;
}

img{
  margin-left: 3%;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #805449;
    text-align: left;
    font-size: 45pt;
    margin-left: 10pt;
    margin-right: 10pt;
}

h2{
  color: #805449;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  margin-top: -30pt;
  margin-left: 10pt;
  margin-right: 10pt;
}

#container{
    width: 95%;
    margin: 0 auto;
    align-items: flex-start;
}

#nav {
    padding: 0;
	  list-style-type: none;
    display: flex;
    flex-direction: column;
}

#nav li {
    margin: 0px;
    padding: 0;
	  border-bottom: 1px solid #FFEEDE;
}

a:link, a:visited{
  text-decoration: none;
  color: #FFA273;
}


#nav a:link, #nav a:visited {
	  display: block;
    color: #FFEEDE;
    background-color: #D1855F;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

#nav a:hover, #nav a:active {
    background-color: #FFA273;
}

.grid{
  width: 100%;
  margin: 0 auto 1em auto;
  padding: 20px;
}
.grid p {
  width: 100%;
  list-style: none;
}
.cards {
    margin-left: 0;
    padding-right: 10pt;
    list-style: none;
    display: grid;
    grid-gap: 10px;
    align-items: start;

}

.cards li {
    background-color: #E8DACC;
    padding: 5pt;
    text-decoration: none;
    list-style: none;
    border-radius: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 1px;

}

.cards p{
  margin-left: 10pt;
  text-align: left;
}


.caption {
    color: black;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: -10pt;
    text-align: left;
}

#footer {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
    list-style: none;
}

img {
	border: none;
}
/* desktop */



@media screen and (min-width: 599px) {
  h1{
    margin-left: 3%;
  }

  h2{
    margin-left: 3%;
  }
  #nav{
    flex-flow: row wrap;
  }
  .grid{
    margin-left: 0;
  }
  .cards {
      margin-left: 0;
      margin-right: 0;
      padding-right: 1pt;
      list-style: none;
      display: grid;
      grid-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  }

.cards li{
  margin-left: 0;
}

  .cards p{
    margin-left: 3%;
  }


#nav li{
  margin: 1px;
  width: 23.75%;
  }

  img{
    margin-left: 3%;
  }

  .caption{
    margin-left: 3%;
  }

}

@media screen and (min-width: 899px) {

  #nav{
    flex-flow: row wrap;
  }

  .grid{
    max-width: 1000px;
  }
  .cards {
      margin-left: 0;
      margin-right: 0;
      padding-right: 1pt;
      list-style: none;
      display: grid;
      grid-gap: 10px;
      align-items: start;

  }

  .card1{
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .card2{
    grid-column: 2/4;
    grid-row: 1/3;
  }

  .card3{
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .card4{
    grid-column: 4/4;
    grid-row: 3/4;
  }

.cards li{
  margin-left: 0;
}

  }
