/*styles go here*/

/*p {
    color: red;
}*/

body{
  background-color: #FDF6F4;
}

p,ul, ol{
	color: #382C20;
  font-family: 'Crimson Text', serif;
  list-style-type: none;
  margin-left: 100pt;
  margin-right: 100pt;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: #805449;
    text-align: left;
    font-size: 45pt;
    margin-left: 100pt;
    margin-right: 100pt;
}

h2{
  color: #805449;
  font-family: 'Oswald', sans-serif;
  text-align: left;
  margin-top: -30pt;
  margin-left: 100pt;
  margin-right: 100pt;
}

#container{
    width: 95%;
    margin: 0 auto;
}

#nav {
    padding: 0;
	  list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
	  border-bottom: 1px solid #FFEEDE;
}

a:link{
  text-decoration: none;
}

#nav a:link, #nav a:visited {
	  display:block;
    color: #FFEEDE;
    background-color: #D1855F;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 4px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}

#nav a:hover, #nav a:active {
    background-color: #FFA273;
}

.caption {
    color: black;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 0.8em;
    margin-top: -10pt;
    text-align: left;
}

#footer {
    color: black;
    font-family: 'Crimson Text', serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}

img {
	border: none;
}
